$primary-color:#fb4226;
$color-1:#ec7532;
$color-0-red:red ;
$color-0-white:white;

$blue-1:#2196f3;
$chair : #44c020;
$name :#868489 ;
$breakpoints: (
  "max-sreen": 1500px,
  "extra-large": 1200px,
  "large": 992px,
  "medium": 769px,
  "small": 576px,
  "verysmall": 500px,
);

$em-1:16px;

$font-bold:bold;
$dark :rgb(10, 32, 41);
$body-bg: #0f0f0f;
$main-color: #ff0000;
$txt-color: #fff;

$white: #fff;
$black: #000;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

$header-height: 8rem;
$header-shrink-height: 5rem;
$border-radius: 30px;