.btn-close {
    box-sizing: content-box;
    width: 2em;
    height: 2em;
    padding: .25em .25em;
    color: #fff;
    background: #fff url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23000%27%3e%3cpath d=%27M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z%27/%3e%3c/svg%3e") center/1em auto no-repeat;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -8%;
    &:hover{
        background: $primary-color url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23000%27%3e%3cpath d=%27M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z%27/%3e%3c/svg%3e") center/1em auto no-repeat;
    }
    @include max(567px){
        right:-10%;
    }
    @include max(487px){
        right:-14%;
    }
}
.modal-content{
    margin-top: 110px;
    border: 7px solid #0d0d0d;
   height: 500px;
   width: 700px;
   position: relative;
   @include max(992px){
    height: 400px;
    width: 550px;
   }
   @include max(685px){
    height: 340px;
    width: 500px;
   }
   @include max(567px){
    height: 295px;
    width: 425px;
    margin-left: auto;
    margin-right: auto;
   }
   @include max(487px){
    height: 241px;
    width: 321px;
   }
    .modal-header{
        height: 100%;
        padding: 0;
        width: 100%;
        
        .close{
            // margin: -2rem -2rem 0rem -1rem;
            padding: 0;
            width:45px;
            height: 45px;
            // border-radius: 50%;
            // color: white;
            // border: 2px solid white;
            color:white;
            cursor: pointer;
            position: absolute;
            right: -6px;
            top: -5px;
            opacity: 1;
            z-index: 999;
            img{
                width:100%;
            }
            &:focus{
                outline:none;
            }
        }
    }
   

.modal-open{
    overflow: auto;
}
}
.card-film {
    
    width: 260px;
    transition:  all 0.5s linear;
    margin: auto;
    cursor: pointer;

    img {
        width: 100%;
        height: 315px;
        border-radius: 5px;
    }
    &_hover-trailer{
        top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    background: linear-gradient(to top,#000,transparent 100%);
    transition: all 0.3s;
    visibility: hidden;
    border-radius: 4px;
    &-button i{
       
    font-size: 60px;
    color: #fff;
    margin: 128px 79px;
    iframe{
        width:760px;
         height:500px
    }
    }
    }

    &-name {
        color: #000;
        padding-top: 3px;
        height: 59px;
        display: -webkit-box;
        opacity: 1;
        overflow: hidden;
        font-size: 16px;
        max-height: 60px;
        visibility: visible;
        font-weight: 500;
        line-height: 14px;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;

        p {
            color: #fff;
            display: inline-block;
            padding: 0 5px;
            font-size: 16px;
            min-width: 33px;
            background: $primary-color;
            text-align: center;
            margin-right: 8px;
            border-radius: 4px;
            line-height: 22px;
        }
    }

    &_p {
        height: 40px;
    }

    &_button-booking {
        color: #fff;
        font-size: 24px;
        background-color: $primary-color;
        width: 100%;
        height: 60px;
        display: none;
        margin: 11px 0 42px;
    }
    &:hover &_button-booking {
        display: block;
    }
    &:hover &-name,&:hover &_p  {
        display: none;
    }
    &:hover &_hover-trailer {
        opacity: 1;
        visibility: visible;
    }
}